.container-home {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  .home {
    position: absolute;
    width: 60%;
    top: 27%;
    height: 70%;
    line-height: 90px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    gap: 5%;

    .name {
      display: flex;
      color: black;
      font-size: 100px;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      z-index: 1;
      order: 2;

      span {
        font-family: 'Yuji Mai', serif;
      }
    }

    .sub-text {
      order: 1;
      height: 100%;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;

      span {
        font-size: 50px;
        color: white;
        font-family: 'Yuji Boku', serif;
      }
    }

    .flat-button {
      color: #ffd700;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: 'Coolvetica';
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 100px;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
      text-orientation: upright;
      line-height: 50px;

      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
  }

  .logo {
    position: absolute;
    width: 37vw;
    top: 25%;
    right: 0;
    animation: fadeIn 3s;
    animation-delay: 1s;
  }
}

@media(max-width: 1170px) {
  .container-home {
    .home {
      width: 100%;
      line-height: 13vw;

      .name {
        font-size: 1000%;
      }


      .sub-text {

        span {
          font-size: 200%;
        }
      }

      .flat-button {
        display: none;
      }
    }

    .logo {
      display: none;
    }
  }
}

@media(max-width: 500px) {
  .container-home {
    .home {
      .name {
        font-size: 600%;
      }

      .sub-text {

        span {
          font-size: 200%;
        }
      }
    }
  }
}