.nav-bar {
  position: fixed;
  background: #181818;
  width: 60px;
  height: 100%;
  top: 0;
  z-index: 3;

  img {
    display: block;
    width: 60px;

  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #21fc6a;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.history-link {
      &:after {
        content: 'HISTORY';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #21fc6a;
      }
    }
  }

  .github {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;

    a {
      margin: auto;
      font-size: 30px;
      color: #4d4d4e;

      & svg:hover {
        color: #21fc6a;
      }
    }
  }
}